
{% extends 'userapp/base.html' %}
{% load static %}

{% block content%}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    {% include 'includes/alerts.html' %}
<div class="container">
	<div class="row">


        <aside class="col-md-3">
            <!--   SIDEBAR   -->
            <ul class="list-group">
                <a class="list-group-item active" href="{% url 'userprofile' %}"> User Profile </a>
                <a class="list-group-item " href="{% url 'dashboard' %}"> My order history </a>
                
                <a class="list-group-item" href="{% url 'change_password' %}">Change Password</a>
                <a class="list-group-item" href="{% url 'view_address' %}"> Address </a>
                
				<a class="list-group-item" href="#"> Return and refunds </a>
            </ul>
            <br>
            <a class="btn btn-light btn-block" href="{% url 'user_logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
            <!--   SIDEBAR .//END   -->
        </aside>


	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Logged In As</strong>
			<span>{{user.first_name}}</span>
			<a href="{% url 'edit_profile' %}" class="btn btn-outline-warning">Edit profile</a>
		</header>
		<div class="card-body">
			<div class="row"> 

				<div class="col-md-6">
					<div class="card" style="text-align: center;">
						<div class="card-body">
							<h5 class="card-title">Total Orders</h5>
							<h4>{{orders_count}}</h4>
							<a href="#">View Orders</a>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="card" style="text-align: center;">
						<div class="card-body">
							{%for u in userprofile %}
							<img src="{{u.profile_picture.url}}" width="50" height="50" style="border-radius: 50%;">
							<p class="mb-0">{{user.email}}</p>
							<p>{{user.phone_number}}</p>
							{% endfor %}
						</div>
					</div>
				</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}


