
{% extends 'adminapp/admin_base.html'%}
{% block content %}


 <div class="main-panel">        
    <div class="content-wrapper">
      <div class="row">
        
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Add New Coupon Here</h4>
              <p class="card-description">
                Coupon
              </p>
              <form class="forms-sample" method="POST" action="">
                {% csrf_token %}
                <div class="form-group row">
                  <div class="col-sm-9 mt-4">
                    {{ form.coupon_name.label }}
                    {{ form.coupon_name }}
                  </div>
                  <div class="col-sm-9 mt-4">
                    {{ form.code.label }}
                    {{ form.code }}
                  </div>
                  <div class="col-sm-9 mt-4">
                    {{ form.coupon_limit.label }}
                    {{ form.coupon_limit }}
                  </div>

                  <div class="col-sm-9 mt-4">
                      {{ form.discount.label }}
                      {{ form.discount }}
                    <!-- <input type="text" name="catname" class="form-control" id="exampleInputUsername2" placeholder="Category Name" required> -->
                  </div>
                  <div class="col-sm-9 mt-4">
                    {{ form.min_amount.label }}
                    {{ form.min_amount }}
                  </div>
                  <div class="col-sm-9 mt-4">
                    {{ form.valid_from.label }}
                    {{ form.valid_from }}
                  </div>
                  <div class="col-sm-9 mt-4">
                    {{ form.valid_to.label }}
                    {{ form.valid_to }}
                  </div>
                </div>

                <button type="submit" class="btn btn-primary me-2">Submit</button>
                
              </form>
            </div>
          </div>
        </div>


        
      </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->


    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
{% endblock %}