{% extends 'adminapp/admin_base.html' %}
{% load static %}
{% block content %}


      <!-- partial -->


      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            {% for message in messages %}
              
              <h3 class="m-3">{{ message }}</h3>
            {% endfor %}
            <div class="col-lg-10 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title text-center">Main Category Offers</h4>
                    {% if not cat_offer %}
                    <h2 style="color: rgb(150, 150, 150);"> Sorry, No  offer  available</h2>
                    <a href="{% url 'add_category_offer' %}" class="btn btn-secondary btn-sm d-flex justify-content-center">Add Category Offer</a><br>
                    
                    {% else %}

                    <p class="card-description">

                      <a href="{% url 'add_category_offer' %}" class="btn btn-secondary btn-sm d-flex justify-content-center">Add Category Offer</a><br>

                    </p>
                    <div class="table-responsive shadow p-3 mb-5 bg-white rounded">
                      <table class="table">
                        <thead>
                          <tr>
                            
                            
                            <th>Main Category Offer Name</th>
                            <th>Discount</th>
                            
                            <th class="text-center">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for c in cat_offer %}
                          <tr>
                            
                            
                            <td>{{ c.category_name }}</td>
                            <td>{{ c.discount }}</td>
                            <td> 
                                <a href="{% url 'edit_category_offer' c.id %}"><button type="submit" class="btn btn-dark ">Edit</button> </a>
                                <a href="{% url 'delete_category_offer' c.id %}"onclick="delcatoffer(event)" type="button" class="btn btn-danger mx-2">Delete </a></td>
                          </tr>
                          {% comment %} <!-- <div id="myModal" class="modal fade">
                            <div class="modal-dialog modal-confirm">
                                <div class="modal-content">
                                    <div class="modal-header flex-column">
                                    
                                        <h4 class="modal-title w-100">Are you sure?</h4>	
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Do you really want to delete these records? This process cannot be undone.</p>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a href="{% url 'deletecategory' c.id %}"><button type="button" class="btn btn-danger mx-2">Delete</button></a> 
                                    </div>
                                </div>
                            </div>
                        </div>  --> {% endcomment %}

                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>   


            
        
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script>
        function delcatoffer() {
          event.preventDefault();
          var dlt = event.currentTarget.href
          console.log(dlt)
          Swal.fire({
            title: 'Are you sure want to Remove Offer?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#2DAD49',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Delete',
            cancelButtonText: 'Back',
          }).then((result) => {
            if (result.isConfirmed) {
              
              window.location = dlt;
            }
          })
        }
      </script>

 {% endblock %}