
{% extends 'adminapp/admin_base.html'%}
{% block content %}




<div class="main-panel">
    {% for message in messages %}
    <h2>{{message}}</h2>
    {% endfor %}
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-center">Product Table</h4>

              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th>Coupon Name</th>
                        <th>Code</th>
                        <th>Discount</th>
                        <th>Valid From</th>
                        <th>Valid To</th>
                        <th>Coupon Limit</th>
                        
                        <th class="text-center">Status</th>

                      
                    </tr>
                  </thead>
                  <tbody>
                                                
                        {% for c in coupons %}
                        <tr>
                        
                        
                        <td>{{ c.coupon_name }}</td>
                        <td>{{ c.code }}</td>
                        <td>{{ c.discount }}</td>
                        <td>{{ c.valid_from }}</td>
                        <td>{{ c.valid_to }}</td>
                        <td>{{ c.coupon_limit }}</td>
                        <td> 
                            <!-- <a href=""><button type="submit" class="btn btn-dark ">Edit</button> </a> -->
                            <a href="{% url 'delete_coupons' c.id %}"onclick="delcoupons(event)" type="button" class="btn btn-danger mx-2">Delete </a></td>
                        </tr>
                      
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <p class="card-description">
                
                <a href="{% url 'add_coupons' %}"> <button type="button" class="btn btn-dark btn-lg btn-block float-left col-lg-3">Add New Coupon </button></a>
  
                </p>
            </div>
          </div>
        </div>



        
    
      </div>
    </div>

  </div>
  <!-- main-panel ends -->
</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  function delcoupons() {
    event.preventDefault();
    var dlt = event.currentTarget.href
    console.log(dlt)
    Swal.fire({
      title: 'Are you sure want to Remove Offer?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#2DAD49',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Delete',
      cancelButtonText: 'Back',
    }).then((result) => {
      if (result.isConfirmed) {
        
        window.location = dlt;
      }
    })
  }
</script>
{% endblock %}