{% extends 'adminapp/admin_base.html' %}
{% block content %}
<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					{% for msg in messages %}
					<h4 class="col-12 p-0 my-2 text-danger text-center font-weight-bold"> {{msg}} </h4>
					{% endfor %}
					<div class="col-sm-6">
						<h2>Products<b></b></h2>
					</div>
					<div class="col-sm-6">
						<a href="{%url 'add_product'%}" class="btn btn-secondary btn-sm d-flex " data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add Products</span></a>

						<!-- <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>						 -->
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>

						</th>
						
                        <th scope="col">Product Name</th>
						<th scope="col">Varient</th>
						<th scope="col">Sub Category</th>
                        <th scope="col">Main Category</th>
                        <!-- <th scope="col">Description</th> -->
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Image</th>

	
					</tr>
				</thead>
                <tbody>
					{% for p in products %}
                    <tr></tr>
					<tr>
						<th>

						</th>
						<!-- <td>{{forloop.counter}}</td> -->
						<td>{{p.product_name}}</td>
						<td>{% for i in p.variations.color_value %}
                        {{ i }} <br>
                        {% endfor %}</td>
						<td>{{p.parent_sub_prdt}}</td>
						<td>{{p.parent_main_prdt}}</td>
						<!-- <td>{{p.prdt_desc}}</td> -->
						<td>{{p.price}}</td>
						<td>{{p.stock}}</td>
						<td><img src="{{p.images.url}}"  style="border-radius :0; height: 80px ;width: 80px;" alt=""></td>

						<td>	
												
							<a href="{% url 'prdt_edit' p.id %}"><button type="button" class="btn btn-outline-primary">Edit</button> 
							<a href="{% url 'prdt_delete' p.id %}" type="button" onclick="deleteproduct()" class="btn btn-danger mx-2">Delete</a> 

							<a href="{% url 'add_variations' p.id %}"  class="btn btn-outline-warning"><i class="material-icons">&#xE147;</i>Variant</a>
						</td>
					</tr>
					{% endfor %}
                </tbody>

			</table>

			<div class="clearfix">
				<div class="hint-text" style="color: #0D6EFD;" >Showing {{ products.end_index }} {{ products_index }} of {{ products.paginator.count }}</div>
				<ul class="pagination">
					{% if products.has_other_pages %}
					<ul class="pagination">
					  {% if products.has_previous %}
					  <li class="page-item "><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
					  {% else %}
					  <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
					  {% endif %}
					  {% for i in products.paginator.page_range %}
						  {% if products.number == i %}
							  <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
			  
						  {% else %}
						  <li class="page-item "><a class="page-link" href="?page={{i}}">{{i}}</a></li>
						  {% endif %}
					  {% endfor %}
			  
					  {% if products.has_next %}
					  <li class="page-item "><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
					  {% else %}
					  <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
					  {% endif %}
					</ul>
					{% endif %}
				</ul>
			</div>










			<!-- <div class="clearfix">
				<div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
				<ul class="pagination">
					<li class="page-item disabled"><a href="#">Previous</a></li>
					<li class="page-item"><a href="#" class="page-link">1</a></li>
					<li class="page-item"><a href="#" class="page-link">2</a></li>
					<li class="page-item active"><a href="#" class="page-link">3</a></li>
					<li class="page-item"><a href="#" class="page-link">4</a></li>
					<li class="page-item"><a href="#" class="page-link">5</a></li>
					<li class="page-item"><a href="#" class="page-link">Next</a></li>
				</ul>
			</div> -->
		</div>

	</div>        
</div>






<!-- Edit Modal HTML -->

<!-- Edit Modal HTML -->

<!-- Delete Modal HTML -->
<!-- <div id="deleteEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Delete Main Category</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<p>Are you sure you want to delete these Records?</p>
					<p class="text-warning"><small>This action cannot be undone.</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-danger" value="Delete">
				</div>
			</form>
		</div>
	</div>
</div> -->

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
	function deleteproduct() {
		event.preventDefault();
		var dlt = event.currentTarget.href
		console.log(dlt)
		Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Yes, delete it!'
		}).then((result) => {
			if (result.isConfirmed) {
				
				window.location = dlt;
			}
		})
	}
</script>





{% endblock %}