{% extends 'userapp/base.html' %}
{% load static %}
{% block content %}

<section class="section_pagetop ">
    <div class="container">
        <div><hr></div>
        {% if 'search' in request.path %}
        <h2 class="title-page">Top Results</h2> 
        {% else %}
        <h2 class="title-page">Duka Store</h2>
        {% endif %}
        <div><hr></div>
    </div>
</section>
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            
    <div class="card">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Categories</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1">
                <div class="card-body">
                    
                    <ul class="list-menu">
                        <li><a href="{% url 'store' %}">All Products </a></li>
                        {% for maincategory in links %}
                    <li><a href="{{maincategory.get_url }}">{{maincategory.main_category_name}} </a></li>
                         {% endfor %} 
                    </ul>
    
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Sizes </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_4" >
                <div class="card-body">
                  <label class="checkbox-btn">
                    <input type="checkbox">
                    <span class="btn btn-light"> XS </span>
                  </label>
    
                  <label class="checkbox-btn">
                    <input type="checkbox">
                    <span class="btn btn-light"> SM </span>
                  </label>
    
                  <label class="checkbox-btn">
                    <input type="checkbox">
                    <span class="btn btn-light"> LG </span>
                  </label>
    
                  <label class="checkbox-btn">
                    <input type="checkbox">
                    <span class="btn btn-light"> XXL </span>
                  </label>
            </div><!-- card-body.// -->
            </div>
        </article> <!-- filter-group .// -->
        
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Price range </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_3" style="">
                <div class="card-body">
                    
                    <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Min</label>
                      <!-- <input class="form-control" placeholder="$0" type="number"> -->
                          <select class="mr-2 form-control">
                            <option value="0">₹0</option>
                            <option value="50">₹50</option>
                            <option value="100">₹100</option>
                            <option value="150">₹150</option>
                            <option value="200">₹200</option>
                            <option value="500">₹500</option>
                            <option value="1000">₹1000</option>
                        </select>
                    </div>
                    <div class="form-group text-right col-md-6">
                      <label>Max</label>
                          <select class="mr-2 form-control">
                            <option value="50">₹50</option>
                            <option value="100">₹100</option>
                            <option value="150">₹150</option>
                            <option value="200">₹200</option>
                            <option value="500">₹500</option>
                            <option value="1000">₹1000</option>
                            <option value="2000">₹2000+</option>
                        </select>
                    </div>
                    </div> <!-- form-row.// -->
                    <button class="btn btn-block btn-primary">Apply</button>
                </div><!-- card-body.// -->
            </div>
        </article> <!-- filter-group .// -->
        
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <main class="col-md-9">
    
    <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto"><b> {{product_count}} </b>Items found </span>
                
            </div>
    </header><!-- sect-heading -->
    
    <div class="row">
        {% if products %}
        {% for p in products %}
        <div class="col-md-4">
            <figure class="card card-product-grid">
                <div class="img-wrap"> 
                    <a href="{{p.get_url}}">
                    <img src="{{p.images.url}}" style="margin: 10px;">
                </a>
                    
                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                    <div class="fix-height">
                        <a href="{{p.get_url}}" class="title">{{p.product_name}}</a>
                      {% if p.productoffer.discount > 0 %}
                           <h6 class="text-muted ml-2"><span style="color: green;"> {{ p.productoffer.discount }}% off</span></h6>
                 
                    
                       {% endif %}
                       <div class="price-wrap mt-2">
                            <span class="price">₹ {{p.price}}</span>
                            <!-- <del class="price-old">$1980</del> -->
                        </div> <!-- price-wrap.// -->
                    </div>
                    <form action="{% url 'add_cart' p.id %}" method="post">
                        {% csrf_token %}
                    <div class="row ml-0 justify-content-center">
                      <div class="item-option-select">
                          <div class="row">
                        <p class="col-5 mt-2">Color</p>
                        <select name="color" class="form-control col-7" required>
                           
                          {% for i in p.variation_set.colors %}

                          <option selected value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                          {% endfor %}
                      </select>
                      </div>
                    </div> <!-- row.// -->
                   
                    {% if p.stock <= 0 %} 
                    <h5 class="text-danger">Out of stock</h5>
                      {% else %}
                      <div class="row">
                      <div class="col p-0 mr-2"  #onclick="addItems(event)">
                        <a href="{{p.get_url }}" class="btn btn-block btn-primary">View Details </a>
                        <button type="submit" class="btn btn-primary" name="add_to_cart_button">Add to cart <i class="fas fa fa-shopping-cart text-white"></i></button>
                       </div>
                      
                      </div>

                      </div>
      
                      {% endif %}
                  </form>
                    
                </figcaption>
            </figure>
            
        </div> <!-- col.// -->
        {% endfor %}
        {% else %}
        <div><h2>Sorry,No Result Found</h2></div>
        {% endif %}
    </div> <!-- row end.// -->
    



    
    <nav class="mt-4" aria-label="Page navigation sample">
        {% if products.has_other_pages %}
      <ul class="pagination">
        {% if products.has_previous %}
        <li class="page-item "><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}
        {% for i in products.paginator.page_range %}
            {% if products.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>

            {% else %}
            <li class="page-item "><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endif %}
        {% endfor %}

        {% if products.has_next %}
        <li class="page-item "><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
      </ul>
      {% endif %}
    </nav>
    
        </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
    </section>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function addItems(event){
          event.preventDefault();
          var link = event.currentTarget.href;
          var name = event.currentTarget.name;
          
            
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener('mouseenter', Swal.stopTimer)
                  toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
              })
              
              Toast.fire({
                icon: 'success',
                title: 'Successfully Added to Cart'
              })
          
        }
      </script>
    
      <style>
        .btn-danger{
            background-color: #fd6b22;
            color: white;
          }
          
          .btn-danger:hover{
            background-color: #fd7a22;
          }
      </style>




    {% endblock %}